/* Element selector */
h1 {
    color : red;
    padding-left: 10px;
}

/* Class selector */
/* we can also group selectors */
.main, 
.middle,  
.end {
    padding: 10px 10px 10px 10px;
}

/* Id based selectors */
#banner {
    border-color : black;
    border-width: 2px;
    border-style: dashed;
    width: 30%;
}

/* Descendant Selectors */
div p {
    background-color: lightgray;
}

/* Pseudo Selectors */
a:link {
    color: #0000ff;
}
a:visited {
  color: #ff00ff;
}
a:hover {
  color: #00ccff;
}
a:active {
  color: #ff0000;
}
