/** Element Selector **/
body {
    background-color: white;
}

h1 {
    color: green;
}

hr {
    border-top: 1px dashed red;
}

/** Class Selector **/
.info {
    color: green;
}

.primary {
    color: white;
}

/** Id Selector **/
#warning {
    color: red;
}

/** Grouping Selectors **/
.info,
.primary {
    background-color: blue;
}

/** Descendant Selector **/
div h1,
div h2 {
    color: red;
}

/** Pseudo Selectors **/
a:link {
    color: #0000ff;
}
a:visited {
  color: #ff00ff;
}
a:hover {
  color: #00ccff;
}
a:active {
  color: #ff0000;
}

/** Child Selectors **/

/** with parent **/
span p:first-child {
    color: violet;
}

/** For any last child that is a p element **/
p:last-child {
    color: orange;
}

/** Only Child **/
li:only-child {
    color: green;
}

/** nth child **/
li:nth-child(4) {
    color: red
}

/** variations of nth child **/
.second-list li:nth-child(odd) {
    color: blue;
    background-color: lightgray;
}

/** using attributes **/
[data-attr] {
    background-color:lightblue;
}

/** Difference between descendant and nested selectors **/
div p {
    color: red !important;
}

div > p {
    background-color: lightgray !important;
}