.list.card {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
}

.list.person-name {
    color: red;
    text-align: left;
}