.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Blog ul {
    list-style: none;
    margin: 20px 0px;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 0px 10px;
    border: 2px solid black;
    padding: 10px;
}

.Blog a {
    text-decoration: none;
    color: black;
}

.Blog li:hover {
    background-color: black;
    color: white
}

.Blog li:hover a {
    text-decoration: none;
    color: white
}

